* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: white;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #38b6ff;
}

@keyframes translateY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #f1f1f1;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #38b6ff;
  background-color: #38b6ff;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  width: 250px;
  height: 125px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1019607843), #06121e), url("../assets/background2.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: white;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero .hero-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 14px;
  position: absolute;
  top: 140px;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
  position: relative;
  top: 75px;
}
.hero .button-projects {
  position: relative;
  top: 80px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 8px 14px;
  color: white;
  transition: background-color 0.8s;
}
.hero .button-projects:hover {
  animation: scaleButton 0.8s infinite alternate;
  border: 1px solid #38b6ff;
  background-color: #38b6ff;
}

@keyframes scaleButton {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 500px) {
  .hero {
    min-height: 60dvh;
  }
  .hero h1 {
    top: 8px;
    font-size: 1rem;
    padding: 0 14px;
  }
  .hero .hero-logo {
    width: 100%;
    height: 200px;
    top: 230px;
  }
  .hero .button-projects {
    top: 50px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: white;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description .nome-vilela a {
  color: white;
  text-decoration: underline;
  transition: color 0.8s;
}
.about-description .nome-vilela a:hover {
  color: #38b6ff;
}
.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-content img {
    max-width: 300px;
  }
}
.projects {
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.projects-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.projects-content p {
  text-align: center;
  margin-bottom: 14px;
  line-height: 150%;
  max-width: 780px;
}

.projects-hub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rbga(0, 0, 0, 0.45);
  overflow: hidden;
}
.project img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.25s;
}

.project img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.project-info {
  width: 100%;
  padding: 14px;
  background-color: #f1f1f1;
  z-index: 99;
}
.project-info h3 {
  font-size: 1rem;
  font-weight: 700;
}
.project-info p {
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.project-info a {
  color: white;
  background-color: #38b6ff;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .projects-hub {
    flex-direction: column;
    gap: 20px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100dvh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */